
:root{
    --fuentePrincipal: 'Lato', sans-serif;
    --primario :#de595e;
    --obscuro: #484848;
    --claro: #ffffff;

    --hospedaje: #275154;
    --concierto: #da595e;
    --clase: #598dda;
    --paseo:#940ad4;

}

html{
    box-sizing: border-box;
}

body{
    font-family: var(--fuentePrincipal);
}

img{
    max-width: 100%;
}

h1{
    font-size: 2.6rem;
    font-weight: 400;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.8rem;
}

.boton{
    background: var(--claro);
    display: block;
    padding: 1.5rem 2rem;
    text-align: center;
    color: var(--obscuro);
    text-decoration: none;
    font-weight: 400;
    border-radius: 10px;
    font-size: 1.2rem;
    -webkit-box-shadow: 10px 10px 25px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 25px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 25px -10px rgba(0,0,0,0.75);
    transition: all 0.3s ease-in-out;
}
.boton:hover{
    background: var(--primario);
    color: var(--claro);
}

/* clase de colores */
.hospedaje{
    color: var(--hospedaje);
}
.concierto{
    color: var(--concierto);
}
.clase{
    color: var(--clase);
}
.paseo{
    color: var(--paseo);
}

/* Interface */
.contenedor{
    max-width: 1100px;
    margin: 0 auto;
}

.btn-flotante{
    position:fixed;
    right: 1rem;
    bottom: 1rem;
    background-color: var(--claro);
    padding: .5rem 2rem;
    text-decoration:none;
    -webkit-box-shadow: 10px 10px 25px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 25px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 25px -10px rgba(0,0,0,0.75);
    color:var(--obscuro);
    transition: all .5s ease-in-out;
}

.btn-flotante.activo,
.btn-flotante:hover{
    background: var(--primario);
    color: var(--claro);
}

.hero{
    height: 100vh;
    background-image: url(../img/arriba.jpg);
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    align-self: start;
    padding-top: 1rem;
}
.navegacion a {
    color:var(--claro);
    text-decoration: none;
    font-size: 1rem;
    margin-right: 1rem;
}

.navegacion a:last-of-type{
    margin-right: 0;
}

.contenido-hero{
    display:grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows:max-content  auto;
}

.contenido-hero h1{
    grid-column: 2/3;
    color: white;

}
.contenido-hero form{
    grid-column: 2/3;
    grid-row: 2/3;
    position: relative;
    display: flex;
    height: 4rem;
}

form input[type='text'] {
   flex:1;
   border:none;
   border-radius: 10px;
   padding-left: 5rem;
   background-image: url(../img/lupa.png);
   background-repeat: no-repeat;
   background-position: calc(1% + 1rem) calc(1% + .8rem) ;
   font-size:1.6rem;
}



form input[type='submit'] {
    position: absolute;
    right: 1rem;
    top: .6rem;
    border: none;
    padding: .7rem 2rem;
    border-radius: 10px;
    background: var(--primario);
    color: var(--claro);
    text-transform: uppercase;
    cursor: pointer;
}

/* Main */
 .contenedor-cards{
     display: grid;
     grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
     column-gap: .5rem;
 }

.card img{
    width: 100%;
}

.info .categoria{
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
}

.info .titulo{
    font-size: 1.6rem;
    font-weight: 900;
    margin:0;
}

.info .precio{
    color: var(--obscuro);
    font-size: .9rem;
}

/* Viaje Plus */
.premium{
    background: url(../img/hospedaje-pro.jpg);
    background-repeat: no-repeat;
    height: 30rem;
}

/* Media queries */

.premium .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.premium .info h3{
    text-align: center;
    color: var(--claro);
    font-size:2.2rem;
}

/* Destinos */

.destinos .contenedor-cards{
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));

}

.destinos .card{
    position: relative;
}

.destinos  .info{
    position: absolute;
    bottom:1rem;
    left:1rem;
    color: var(--claro);
}

.destinos .titulo{
    font-size: 2rem;
}

/* Footer */

.footer{
    position:fixed;
    bottom: -100%;
    width: 100%;
    background: var(--claro);
    -webkit-box-shadow: 0px -7px 15px 3px rgba(140,140,140,0.8); 
    box-shadow: 0px -7px 15px 3px rgba(140,140,140,0.8);
    transition: all .3s ease-in-out;

}

.footer.activo{
    bottom:0;
}
.nav-footer{
    padding:1rem;
}
.nav-footer h3{
    font-size: 1.3rem;
}
.nav-footer a{
    display: block;
    margin-bottom:.5rem;
    text-decoration:none;
    color: var(--obscur)
}

.nav-footer a:last-of-type{
    margin:0;
}

.sociales ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex: 1 0 auto;
    list-style: none;
}

.sociales ul li{
    margin-right: 1rem;
}

.sociales ul li a{
    text-decoration:none;
}

.sociales ul li a::before{
    font-family: "Font Awesome 5 Brands";
    color: var(--obscuro);
    font-size:1.8rem;
}

.sociales ul li a[href*="facebook.com"]::before{
    content:"\f39e";
}
.sociales ul li a[href*="twitter.com"]::before{
    content:"\f099";
}
.sociales ul li a[href*="instagram.com"]::before{
    content:"\f16d";
}
.sociales ul li a span{
    display: none;
}




@media screen and (min-width:768px){
    .premium{
        grid-template-columns: auto 30%;
    }
    .premium .info{
        grid-column: 2/3;
    }

    .premium .info h3{
        text-align: right;
        color: var(--obscuro);
    }
}



