
h2 {
    margin: 0;
}
.servicios {
    border: 3px solid black;
    height: 300px;
    display: grid;
    /* El shorthand de grid es una forma resumida para escribir el grid-templeate-row y el grid-templeate-column en este caso la sentencia que lo declara es la siguiente grid: <rows> / <column> */
    grid: 50% 50% / 33% 33% 33%;
}

.servicio {
    color: white;
    text-align: center;
}

.servicio-1 {
    background-color: darkviolet;
    /* El shorthand de grid-area la estructura es de la siguiente manera grid-area: <row-start> / <column-start> / <row-end> / <column-end> */
    grid-area: 1 / 1 / 3 / 3;
}

.servicio-2 {
    background-color: limegreen;
}
.servicio-3 {
    background-color: teal;
}